/* ============================================================
  DESIGN TOKENS
============================================================ */
:root {
  --white: #ffffff;
  
  --t-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  
  --container-max: 1240px;
}

/* ============================================================
  RESET & BASE
============================================================ */
*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
  margin: 0;
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
  /* padding: 0 var(--space-lg); */
  position:relative;
  z-index:4;
}